/* club cover */
.club-cover {
    background-image: url(../../assetsStaging/img/asd.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.club-cover-mask {
    background-color: rgb(234 83 83 / 70%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-club-cover {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5em;
    z-index: 1;
}
.inner-club-cover .line {
    display: flex;
    padding: .5em;
}
.inner-club-cover .line.bg-blue {
    padding-top: 3em;
    padding-bottom: 1em;
    border-radius: 5px 5px 0 0;
    background-color: #2B229A;
}
.inner-club-cover .line.bg-white {
    border-radius: 0 0 5px 5px;
}
.inner-club-cover .line .box:first-child {
    border-right: 1px solid #E5E5E5;
}
.inner-club-cover .line .box {
    padding: .5em 2em;
    width: 50%;
}
.inner-club-cover .line .box > h5 {margin: 0}
.inner-club-cover .line .box > span {
    display: flex;
    align-items: center;
    font-weight: bold;
}
.inner-club-cover .line .box > span img {
    width: 20px;
    height: 20px;
    margin-left: .75em;
}
.inner-club-cover .club-logo {
    width: 75px;
    height: 75px;
    padding: 1em;
    margin: 0 auto;
    z-index: 1;
    margin-bottom: -2.5em;
    border-radius: 50%;
    background-color: white;
}
.inner-club-cover button {
    width: 50%;
    color: white;
    margin: 0 auto;
    margin-top: 2em;
    border-radius: 50px;
    border: .1em solid white;
    background-color: transparent;
}
.inner-club-cover button:focus {outline: none !important; color: white;}
.inner-club-cover button:hover {
    color: black;
    background-color: white;
}

/* club menu */
.club-menu {
    white-space: nowrap;
    overflow-x: auto;
    padding: 0;
    margin: 0;
    margin-left: -15px;
    margin-right: -15px;
}
.club-menu li {
    display: inline-block;
    min-width: 33% !important;
    text-align: center;
}
.club-menu li.active a {
    color: #D6CED9;
    border-bottom: .25em solid #D6CED9;
}
.club-menu li a {
    color: #FD4E52;
    font-weight: bold;
    display: block;
    padding: .75em 1em;
}

/* club highlight */
.club-highlight h5 {
    font-weight: bold;
    font-size: 11pt;
}
.club-highlight ul {
    white-space: nowrap;
    overflow-x: auto;
    padding: 0;
    margin: 0;
}
.club-highlight ul li {
    display: inline-block;
    padding: .75em 1em;
    margin-right: .5em;
    background-color: white;
    min-width: 25% !important;
    border-radius: 5px;
    text-align: center;
}    
.club-highlight ul li span:first-child {
    display: block;
    font-size: 15pt;
    font-weight: bolder;
}
.club-highlight ul li span:last-child {
    font-size: 9pt;
    color: #A3A3A3;
}

.tag {
    text-align: center;
    font-weight: bolder;
}
.tag span {
    display: inline-block;
    padding: .75em 1em;
}

/* club top player */
.club-top-player ul {
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}
.club-top-player ul li {
    display: inline-block;
    white-space: normal;
    list-style: none;
    text-align: center;
    margin: 0 1em;
    min-width: 20%;
}
.club-top-player ul li .cover-img {
    padding: .5em;
    width: inherit;
    height: 80px;
}
.club-top-player ul li .cover-img img {
    max-width: 100%;
    height: 100%;
}
.club-top-player ul li span {
    display: block;
    font-size: 9pt;
    font-weight: lighter;
}
.club-top-player ul li span.btn-pill {
    line-height: 1;
    padding: .5em;
    background-color: #2D2D94;
    color: white;
}

/* matches */
.matches {
    padding: 1em;
    text-align: center;
    background: url(../../assetsStaging/img/stadium.png) no-repeat, linear-gradient(to bottom, rgb(28, 51, 8), black);
    background-size: 100% 100%, cover;
    background-position: 0 0;
}
.matches .club-left, .matches .club-right {color: white}
.matches .club-left .logo, .matches .club-right .logo {
    background-color: white;
    padding: .5em;
    border-radius: 50%;
}
.matches .club-left img, .matches .club-right img {width: 60px}
.matches .mid {
    font-size: 10pt;
    color: white;
}

/* competion history */
.competion-hstr {background-color: white}
.competion-hstr h3 {margin: 0}
.competion-hstr ul {
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    margin: 0;
    padding: .5em;
}
.competion-hstr li {
    display: inline-block;
    white-space: normal;
    list-style: none;
    text-align: center;
    margin: 0 1em;
    min-width: 20%;
}
.competion-hstr li .cover-img {
    padding: .5em;
    width: inherit;
    height: 80px;
}
.competion-hstr li .cover-img img {
    max-width: 100%;
    height: 100%;
}
.competion-hstr li span {
    display: block;
    color: #A4A3A3;
    font-size: 9pt;
    font-weight: lighter;
}
/* standings */
/* .standings table thead {
    text-align: center;
    font-size: 9pt;
} */
.standings table tbody tr {
    background-color: white;
}
.standings table tbody tr:nth-child(even) {
    background-color: #FAFAFA;
}
.standings table tbody td {
    border: none;
    vertical-align: middle;
    text-align: center;
    font-size: 9pt;
}
.standings table tbody .desc {
    display: flex;
    align-items: center;
}
.standings table tbody .desc .team {
    line-height: normal;
    text-align: left;
}
.standings table tbody .desc .team span {
    font-size: 10pt;
}
.standings table tbody img {
    max-width: 20%;
    height: auto;
    margin-right: .5em;
}
.bg-blue{
    background: #2D2D94;
}
.bg-red{
    background: #FA2427;
}
.bg-maroon{
    background: #D1171B;
}